
a{
    color: rgb(184, 176, 128);
    padding-top: 0px;
    margin-top: 0px;
}

.button-link {
    background-color: #1f1e1d;
    text-decoration: none;
    color: #b8b080;
    padding: 16px;
    border-top: 1px solid #b8b080;
    border-right: 1px solid #b8b080;
    border-bottom: 1px solid #b8b080;
    border-left: 1px solid #b8b080;

    border-radius: 4px;

    transition-duration: 0.4s;
  }

  
  .button-link:hover {
    background-color: #b8b080;
    color: #1f1e1d;
    padding: 16px;
    border-top: 1px solid #1f1e1d;
    border-right: 1px solid #1f1e1d;
    border-bottom: 1px solid #1f1e1d;
    border-left: 1px solid #1f1e1d;
  }


hr{
    color: #4e4a48;
    -webkit-text-fill-color: #4e4a48;
    background-color: #4e4a48;
    border: solid #4e4a48 1px;
}
.portrait{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    width: 200px;
    height: 200px;
    background-color: #292726;
}

.portrait-small{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 15%;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #292726;
}

.bar{
    grid-area: bar;
    width: 100%;
    height: 128px;
}

.header {
    grid-area: head;
    width: 100%;
    height: 256px;
    background-image: url("img/background-head.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center -200px;
}

.header_text{
    margin-left: 15%; 
    margin-top: 64px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.naver {
    grid-area: nav;
    height: auto;
    width: 16%;
    position: fixed;
    top: 464px;
    padding-left: 1%;
    margin-left: 1.5%;
    background-color: #292726;
    padding-bottom: 1%;
    border-radius: 8px;


}

.body {
    grid-area: body;
    width: 70%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
}

.footer {
    grid-area: footer;
    height: 128px;
    width: 100%;
}

.prolog {
    grid-area: prolog;
    width: 100%;
    height: auto;
    padding-left: 0%;
    padding-top: 64px;
}


.hide{
    visibility: hidden;
    padding-top: 0px;
    margin: 0px;
    margin-top: 0px;
}

.mobile-hide{
    visibility: visible;
}


.grid-container {
    display: grid;
    grid-template:
        'bar bar bar bar bar bar bar'
        'head head head head head head head'
        'prolog prolog prolog prolog prolog prolog prolog'
        'body body body body body body body'
        'body body body body body body body'
        'footer footer footer footer footer footer footer';

    background-color: rgb(31, 30, 29);
    color: #f3eee9;
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    margin: 0px;
}


.anchor {
    width: 100%;
}

.text_section{
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

@media screen and (max-width: 1910px){
    .header {
        grid-area: head;
        width: 100%;
        height: 256px;
        background-image: url("img/background-head.png");
        background-repeat: no-repeat;
        background-size: auto auto;
        background-position: center -200px;
    }
}

@media only screen and (max-width: 760px) {

    .header_text{
        margin-left: 15%; 
        margin-top: 16px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    hr{
        color: #4e4a48;
    }

    .naver {
        grid-area: nav;
        height: auto;
        width: 100%;
        position:static;
        padding-left: 0;
        margin-left: 0;
        background-color: #1f1e1d;
        border-radius: 0px;
  
    }

    .anchor {
        padding-left: 25%;
        width: 100%;
    }

    .header {
        grid-area: head;
        width: 100%;
        height: 256px;
        background-image: url("img/background-head.png");
        background-repeat: no-repeat;
        background-size: auto auto;
        background-position: center -200px;
    }

    .footer {
        grid-area: footer;
        height: 32px;
        width: 100%;
        position: fixed;
        top: 97%;
        background-image: -webkit-linear-gradient(top,
        rgba(31, 30, 29,0) 0%, 
        rgba(31, 30, 29,0.5) 20%, 
        rgba(31, 30, 29,1) 80%, 
        rgba(31, 30, 29,1) 100%);
  
        z-index: 1;
    }

    .prolog {
        grid-area: prolog;
        width: 90%;
        height: auto;
        padding-left: 5%;
        margin-top: 0px;
        padding-top: 32px;
    }

    .hide{
        visibility:visible;
        padding-top: 0px;
        margin-top: 0px;
    }

    .bar{
        grid-area: bar;
        width: 100%;
        height: 64px;
    }

    .grid-container {
        display: grid;
        grid-template:
            'bar bar bar'
            'head head head'
            'prolog prolog prolog'
            'nav nav nav'
            'body body body'
            'footer footer footer';
    
        background-color: #1f1e1d;
        color: #f3eee9;
        width: 100%;
        margin: 0px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .body {
        position:fixed;
        grid-area: body;
        width:0px;
        height: 0px;
        padding-left: 0px;
        padding-right: 0px;
        visibility: hidden;
        z-index: -1;
    }

    .text_section{
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        text-align:justify;
    }

    .portrait{
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        width: 200px;
        height: 200px;
        background-color: #292726;
    }

    .mobile-hide{
        visibility: hidden;
    }

    .portrait-small{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 15%;
        margin-top: 0px;
        padding-top: 0px;
        background-color: #292726;
        z-index: 1;
    }
    
  }
